
body {
    background-image: url("file:///Users/chrislee/Desktop/code/homework/Game-of-Thrones-Quiz/images/game%20of%20thrones%20white%20walker.jpg");
    height: 100vh;
    cursor: url("http://www.rw-designer.com/cursor-extern.php?id=54286"), default;

    
}

.center {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
  /* bring your own prefixes */
    transform: translate(-50%, -50%);
    font-family: 'MedievalSharp', cursive;
    color: rgb(255, 255, 255);
}

.btn-style {
    font-family: Arial, Helvetica, sans-serif;
}
.btn-style:hover {
    background-color: white;
    color: rgb(46, 46, 46);
}

.timer {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
    text-align: right;
    font-size: 18px;
}

#quiz-container {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
  /* bring your own prefixes */
    transform: translate(-50%, -50%);
    font-family: 'MedievalSharp', cursive;
    color: black;
}
.quiz-btn {
    width: 200px;
}

.bottom-row {
    margin-top: 20px;
}

.top-row {
    margin-top: 20px;
}

#end-game {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
  /* bring your own prefixes */
    transform: translate(-50%, -50%);
    font-family: 'MedievalSharp', cursive;
    color: black;
}
